*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}


@font-face {
    font-family: kollektif;
    src: url(../font/Kollektif.ttf);
}

html {
    font-size: 62.5px;
    overflow-x: hidden;
}

body {
    font-size: 16%;
    font-family: kollektif;
}

/* * {
    box-sizing: border-box;
    margin: 0vw;
    padding: 0vw;
} */

header {
    display: flex;
    border-bottom: 0.1vw solid #000;
    margin: 2vw 12vw;
    align-items: center;
    padding-bottom: 0.5vw;
}

.header1{
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    margin-left: 10vw;
    margin-right: 13.5vw;
}

.header-img {
    width: 10vw;
    margin-right: 11vw;
}

.headtext {
    font-size: 1.5vw;
}

.img-pedro {
    position: relative;
    left: 92.7vw;
    bottom: 7.7vw;
    width: 5.5vw;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 6vw;
}

.top-img {
    width: 3vw;
    margin-bottom: 1vw;
}

.top-text1 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.top-text2 {
    font-size: 1vw;
    text-align: center;
}

.cala {
    display: grid;
    grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);
    grid-template-rows: min-content;
    grid-template-areas: "left center right";
    position: relative;
    bottom: 4vw;
    align-items: center;
}

.cala-left,.cala-center,.cala-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cala-left {
    grid-area: left;
    position: relative;
    bottom: 3vw;
}

.cala-center {
    grid-area: center;
    position: relative;
    right: 0.5vw;
}

.cala-right {
    grid-area: right;
}

.cala-text {
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

.cala-left-imgs,.cala-center-imgs,.cala-right-imgs {
    display: flex;
    align-items: center;
}

.cala-left-imgs {
    position: relative;
    top: 0.4vw;
}

.cala-flecha {
    width: 2vw;
    margin-left: 1.5vw;
}

.cala-imgs-grid {
    display: grid;
    grid-template-columns: repeat(3, 6vw);
    grid-template-rows: min-content;
    text-align: center;
    align-items: center;
    position: relative;
    left: 0.5vw;
}

.cala-left-img1 {
    width: 5vw;
    margin-block: 2.2vw;
}

.cala-left-img2 {
    width: 3.5vw;
    margin-block: 0.3vw;
}

.cala-left-img3 {
    width: 3vw;
    margin-block: 1.7vw;
}

.cala-center-img1 {
    width: 2.5vw;
    margin-block: 0.8vw;
}

.cala-center-img2 {
    width: 3.5vw;
    margin-block: 0.6vw;
}

.cala-center-img3 {
    width: 3.5vw;
    margin-block: 1.5vw;
}

.cala-img2-bg {
    padding-block: 0.8vw;
    background-color: #0050f5;
    border-radius: 1.5vw;
}

.cala-img-text,.cala-img-text1 {
    font-size: 0.8vw;
}

.cala-img-text1 {
    color: #fff;
}

.cala-right-link:hover {
    background-color: #115ef9;
}

.cala-right-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    padding: 1vw 3vw;
    background-color: #0050f5;
    width: fit-content;
    border-radius: 2vw;
    margin-inline: auto;
}

.cala-left-info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2.5vw;
}

.cala-center-info {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}

.cala-text1 {
    font-size: 1vw;
    margin-bottom: 0.5vw;
    margin-left: 1vw;
}

.cala-left-box1 {
    display: flex;
    border: solid 0.1vw #5f5f5f;
    border-radius: 2vw;
    align-items: center;
    padding: 1vw;
}

.cala-box-text {
    font-size: 1vw;
    color: #5f5f5f;
    margin-right: 20vw;
}

.cala-box-img1 {
    width: 1.5vw;
    position: relative;
    bottom:  2.4vw;
    left: 26.5vw;
}

.cala-left-box2 {
    display: flex;
    border: solid 0.1vw #5f5f5f;
    border-radius: 2vw;
    align-items: center;
    padding: 1vw;
}

.cala-box-text2 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-size: 1vw;
    margin-right: 20vw;
}

.cala-box-img2 {
    width: 1.5vw;
    position: relative;
    bottom:  4.1vw;
    left: 1.5vw;
}
